@import url("cherryfw/style.css");
@import url(//fonts.googleapis.com/css?family=Ubuntu:300,400,500);
a {
	-webkit-transition:color 0.4s;
	-moz-transition:color 0.4s;
	-o-transition:color 0.4s;
	transition:color 0.4s;
}
a:hover, a:active, a:focus { text-decoration:none; }
button:focus { outline:none; }
body {
	font-weight:300 !important;
	padding:0 !important;
}
h1, h2, h3, h4, h5, h6 { text-transform:uppercase; }
h2 { margin:0 0 16px 0; }
h5 { margin:0 0 18px 0; }
p { margin:0 0 23px 0; }
.main-holder { overflow:hidden; }
.header {
	border:none;
	padding:0;
}
@media (max-width: 767px) {
	.header { text-align:center; }
}
.header > .container {
	width:100%;
	padding-left:0;
	padding-right:0;
}
.header > .container > .row { margin-left:0; }
.header > .container > .row > .span12 {
	width:100%;
	margin-left:0;
}
.header .row-1 {
	background-color:#f2f2f2;
	padding:7px 0 8px 0;
}
@media (max-width: 767px) {
	.header .row-1 {
		padding-left:20px;
		padding-right:20px;
		padding-bottom:11px;
	}
}
.header .row-2 {
	width:100%;
	background-color:#fff;
	padding:25px 0 23px 0;
	-webkit-transition:padding 0.4s;
	-moz-transition:padding 0.4s;
	-o-transition:padding 0.4s;
	transition:padding 0.4s;
}
@media (max-width: 767px) {
	.header .row-2 {
		padding-left:20px;
		padding-right:20px;
		width:auto;
	}
}
.header .row-2.isStuck {
	padding:10px 0;
	-webkit-box-shadow:0 1px 10px rgba(0,0,0,0.15);
	-moz-box-shadow:0 1px 10px rgba(0,0,0,0.15);
	box-shadow:0 1px 10px rgba(0,0,0,0.15);
}
@media (max-width: 767px) {
	.header .row-2.isStuck {
		padding:25px 20px 23px;
		position:relative !important;
		top:0 !important;
		-webkit-box-shadow:none;
		-moz-box-shadow:none;
		box-shadow:none;
	}
}
.header .pseudoStickyBlock { max-height:62px !important; }
@media (max-width: 767px) {
	.header .pseudoStickyBlock { display:none !important; }
}
@media (min-width: 768px) and (max-width: 979px) {
	.logo { width:100%; }
}
@media (max-width: 767px) {
	.logo {
		float:none;
		margin-bottom:20px;
	}
}
.search-form_it { margin:1px 0 0 0; }
.search-form_is { text-transform:capitalize; }
.nav__primary { margin-bottom:0; }
.sf-menu li:hover ul, .sf-menu li.sfHover ul {
	margin:14px 0 0 0;
	left:-14px;
}
ul.sf-menu li li:hover ul, ul.sf-menu li li.sfHover ul {
	top:-20px;
	margin:0;
	left:auto;
	right:100%;
}
@media (min-width: 1200px) {
	ul.sf-menu li li:hover ul, ul.sf-menu li li.sfHover ul { left:100%; }
}
.sf-menu { padding:13px 0 0 0; }
.sf-menu > li {
	background:none;
	margin-left:29px;
}
.sf-menu > li:first-child { margin-left:0; }
.sf-menu > li > a {
	padding:0;
	border:none;
	text-transform:uppercase;
	font-weight:300 !important;
}
.sf-menu li ul {
	background-color:#f2f2f2;
	width:168px;
	padding:20px 0 23px 0;
}
.sf-menu li li {
	background:none;
	text-align:left;
}
.sf-menu li li a {
	padding:4.5px 15px;
	border:none;
	font-size:13px;
	color:#888888;
	-webkit-transition:0.4s;
	-moz-transition:0.4s;
	-o-transition:0.4s;
	transition:0.4s;
}
.sf-menu > li > a:hover, .sf-menu > li.sfHover> a, .sf-menu > li.current-menu-item > a, .sf-menu > li.current_page_item > a {
	background:none;
	color:#31c1e4;
}
.sf-menu li li > a:hover, .sf-menu li li.sfHover > a, .sf-menu li li.current-menu-item > a, .sf-menu li li.current_page_item > a {
	color:#fff;
	background:#3c3c3c;
}
.sf-menu a.sf-with-ul { padding-right:16px; }
.sf-sub-indicator {
	right:0;
	width:auto;
	height:auto;
	text-indent:0;
	font:0/0 a;
	color:transparent;
	text-shadow:none;
	background-color:transparent;
	border:0;
}
a > .sf-sub-indicator { background:none; }
a > .sf-sub-indicator:after {
	content:'\f107';
	font-size:15px;
	font-family:FontAwesome;
	font-weight:400;
	line-height:1em;
	color:#31c1e4;
}
.sf-menu ul a.sf-with-ul { padding-right:0; }
.sf-menu ul a > .sf-sub-indicator { display:none; }
.select-menu { height:33px; }
.select-menu:focus {
	border:1px solid #ddd;
	background-color:#e4e4e4;
	outline:none;
}
.slider { margin-bottom:61px; }
@media (max-width: 767px) {
	.slider {
		margin-left:-20px;
		margin-right:-20px;
	}
}
@media (max-width: 480px) {
	.slider { display:none; }
}
.slider .camera_caption {
	left:50% !important;
	width:940px;
	margin:0 0 0 -470px;
}
@media (min-width: 1200px) {
	.slider .camera_caption {
		width:1170px;
		margin:0 0 0 -585px;
	}
}
@media (min-width: 768px) and (max-width: 979px) {
	.slider .camera_caption {
		width:724px;
		margin:0 0 0 -362px;
	}
}
@media (max-width: 767px) {
	.slider .camera_caption {
		width:auto;
		margin:0;
	}
}
.slider .camera_caption > div {
	padding:0 0 15.8% 0;
	float:right;
	background-color:transparent;
	width:380px;
}
@media (min-width: 1200px) {
	.slider .camera_caption > div { width:470px; }
}
@media (min-width: 768px) and (max-width: 979px) {
	.slider .camera_caption > div { width:290px; }
}
@media (max-width: 767px) {
	.slider .camera_caption > div {
		width:auto;
		padding:0 20px;
	}
}
@media (max-width: 1600px) {
	.slider .camera_caption > div { padding-bottom:5%; }
}
.slider .camera_caption h2 {
	font-weight:300;
	line-height:50px;
	margin:0 0 20px 0;
}
@media (max-width: 1199px) {
	.slider .camera_caption h2 {
		font-size:25px !important;
		line-height:1.2em !important;
	}
}
@media (max-width: 767px) {
	.slider .camera_caption h2 {
		font-size:16px !important;
		margin-bottom:10px;
	}
}
.slider .camera_caption h2 strong { font-weight:normal; }
.slider .camera_caption .btn-primary {
	font-size:15px;
	border:2px solid #fff;
	padding:12px 40px;
	background:none;
}
@media (max-width: 767px) {
	.slider .camera_caption .btn-primary { padding:5px 15px; }
}
.slider .camera_caption .btn-primary:hover, .slider .camera_caption .btn-primary:active, .slider .camera_caption .btn-primary:focus {
	background:#fff;
	color:#3c3c3c;
}
.content-holder { background-color:#fff; }
@media (max-width: 767px) {
	.content-holder {
		padding-left:20px;
		padding-right:20px;
	}
}
.home .content-holder { padding-bottom:0; }
#content { padding-top:61px; }
.title-section {
	padding:15px 0;
	background-color:#31c1e4;
	position:relative;
}
.title-section:before, .title-section:after {
	content:'';
	position:absolute;
	top:0;
	width:300%;
	height:100%;
	background-color:inherit;
	z-index:-1;
}
.title-section:before { left:-299%; }
.title-section:after { right:-299%; }
.title-header {
	overflow:visible;
	margin:0;
	font-size:15px;
	font-weight:500;
	line-height:1.2em;
	color:#fff;
}
.title-header small {
	font-size:inherit;
	font-weight:inherit;
	color:inherit;
}
.breadcrumb__t {
	padding:0;
	background-color:transparent;
}
.breadcrumb__t li {
	font-size:13px;
	text-transform:uppercase;
	text-shadow:none;
}
.breadcrumb__t li.active { color:#3c3c3c; }
.breadcrumb__t li.divider {
	margin:0 5px;
	font:0/0 a;
	color:transparent;
	text-shadow:none;
	background-color:transparent;
	border:0;
}
.breadcrumb__t li.divider:after {
	content:' | ';
	color:#fff;
	font:13px/23px Ubuntu;
}
.breadcrumb__t li a { color:#fff; }
.breadcrumb__t li a:hover, .breadcrumb__t li a:active, .breadcrumb__t li a:focus { color:#3c3c3c; }
.post__holder .post-header .post-title {
	text-align:center;
	margin:0 0 23px 0;
}
.post__holder .featured-thumbnail.large { margin:0 0 23px 0; }
.post__holder .post_content h3 {
	font-size:15px;
	line-height:26px;
	color:#31c1e4;
	margin:0 0 18px 0;
}
.post__holder .post_content .btn-primary {
	font-size:15px;
	padding:9px 27px;
}
.post_meta {
	padding:9px 0 10px 0;
	font-size:14px;
}
.post_meta div[class^="post_"] { padding:0 27px 0 0; }
.post_meta i { padding:0 2px 0 0; }
.post-author {
	padding:27px 20px 21px 20px;
	border:none;
	background-color:#f3f3f3;
}
.post-author_h {
	color:#888888;
	font-weight:500;
	font-size:18px;
	line-height:1.2em;
	text-transform:none;
	margin:0 0 21px 0;
}
.post-author_h small {
	font-size:inherit;
	font-weight:inherit;
	text-transform:capitalize;
	color:#31c1e4;
}
.post-author_h a { text-transform:capitalize; }
.post-author_link { margin-top:26px; }
.post-author_gravatar { margin:5px 17px 10px 0; }
.post-author_gravatar img {
	padding:0;
	border:none;
	background:none;
}
.post-author .post-author_desc {
	overflow:visible;
	margin-top:0;
}
@media (min-width: 1200px) {
	.post-author .post-author_desc { overflow:hidden; }
}
.post-author .post-author_desc .post-author_link {
	font-weight:500;
	font-size:18px;
}
.post-author .post-author_desc .post-author_link p { margin:0; }
.post-author .post-author_desc .post-author_link a { text-transform:capitalize; }
#recent-author-posts > h3 {
	text-align:center;
	text-transform:none;
}
#recent-author-posts .post__holder { margin-bottom:40px; }
#recent-author-comments { padding-top:50px; }
#recent-author-comments > h3 { text-transform:none; }
#recent-author-comments ul { margin:0; }
#recent-author-comments ul li {
	list-style-type:none;
	margin-bottom:10px;
}
.related-posts_h {
	margin:0 0 24px 0;
	text-align:center;
}
.related-posts_item {
	font-size:15px;
	line-height:26px;
	text-transform:uppercase;
}
.related-posts .featured-thumbnail { margin:0 0 22px 0; }
.share-buttons span, .share-buttons li { line-height:17px; }
.pagination__posts ul {
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
}
.pagination__posts ul li a {
	color:#888888;
	margin:0 3px 3px 0;
	border:none !important;
	-webkit-border-radius:4px !important;
	-moz-border-radius:4px !important;
	border-radius:4px !important;
	-webkit-transition:0.4s;
	-moz-transition:0.4s;
	-o-transition:0.4s;
	transition:0.4s;
}
.pagination__posts ul li a:hover, .pagination__posts ul li a:active, .pagination__posts ul li a:focus {
	background-color:#31c1e4;
	color:#fff;
}
.pagination__posts ul .active span {
	margin:0 3px 3px 0;
	border:none !important;
	background-color:#31c1e4;
	color:#fff;
	-webkit-border-radius:4px !important;
	-moz-border-radius:4px !important;
	border-radius:4px !important;
}
.faq-list_body .marker { top:1px; }
.archive_h { text-transform:none; }
.testimonial {
	border:none;
	background:#f3f3f3;
	font-style:normal;
	font-family:Ubuntu;
	-webkit-border-radius:0px;
	-moz-border-radius:0px;
	border-radius:0px;
}
.testimonial_bq p {
	font-size:14px;
	line-height:23px;
}
.testimonial small {
	font-family:Ubuntu;
	font-size:14px;
}
.page-header {
	border:none;
	margin:0 0 17px 0;
	padding:0;
}
.page-header h1 { margin:0; }
.single-pager { border-color:#c3c3c3; }
.single-pager a {
	border:none !important;
	background-color:#31c1e4 !important;
	color:#fff;
	font-size:14px;
	-webkit-border-radius:4px !important;
	-moz-border-radius:4px !important;
	border-radius:4px !important;
	-webkit-transition:0.4s;
	-moz-transition:0.4s;
	-o-transition:0.4s;
	transition:0.4s;
}
.single-pager a:hover, .single-pager a:active, .single-pager a:focus { background-color:#3c3c3c !important; }
.filter-wrapper .pull-right {
	float:none;
	text-align:center;
}
.filter-wrapper strong { display:none; }
.filter-wrapper .nav { overflow:visible; }
.nav-pills {
	float:none;
	display:inline-block;
	vertical-align:top;
	margin-bottom:30px;
}
@media (max-width: 767px) {
	.nav-pills li {
		float:none;
		display:block;
	}
}
.nav-pills li a {
	font-size:20px;
	font-weight:400;
	line-height:1.2em;
	color:#3c3c3c;
	text-transform:uppercase;
	background:none !important;
	padding:0 !important;
	margin:0 18px;
}
@media (max-width: 767px) {
	.nav-pills li a { margin:0 10px 5px; }
}
@media (max-width: 480px) {
	.nav-pills li a { padding:0; }
}
.nav-pills li a:hover, .nav-pills li a:active, .nav-pills li a:focus { color:#31c1e4; }
.nav-pills li.active a { color:#31c1e4 !important; }
.filterable-portfolio .caption__portfolio { padding:34px 0 0 0; }
.filterable-portfolio h3 {
	font-size:15px;
	line-height:20px;
	margin:0 0 20px 0;
}
.filterable-portfolio .btn-primary {
	font-size:15px;
	padding:9px 27px;
}
.zoom-icon { background:rgba(60,60,60,0.8); }
.zoom-icon:before {
	margin:-22px 0 0 -22px;
	width:44px;
	height:44px;
	background:url(images/magnify-alt.png) 50% 50% no-repeat;
}
.comments-h { text-align:center; }
.comment .comment-body {
	margin-bottom:10px;
	padding:27px 20px 26px 20px;
	border:none;
	background:#f3f3f3;
}
@media (min-width: 768px) and (max-width: 979px) {
	.comment .comment-body .extra-wrap { overflow:visible; }
}
@media (max-width: 767px) {
	.comment .comment-body .extra-wrap { overflow:visible; }
}
.comment .comment-body:hover .comment-reply-link, .comment .comment-body:hover .comment-author .author, .comment .comment-body:hover .comment-meta { color:#31c1e4; }
.comment.bypostauthor .comment-body { background:#f3f3f3; }
.comment-author { margin:3px 17px 0 0; }
.comment-author .author {
	padding-top:12px;
	width:80px;
	font-weight:500;
	font-size:18px;
	word-wrap:break-word;
	-webkit-hyphens:auto;
	-moz-hyphens:auto;
	-ms-hyphens:auto;
	-o-hyphens:auto;
	hyphens:auto;
	-webkit-transition:color 0.4s;
	-moz-transition:color 0.4s;
	-o-transition:color 0.4s;
	transition:color 0.4s;
}
.comment-meta {
	padding:0;
	font-size:18px;
	font-weight:500;
	-webkit-transition:color 0.4s;
	-moz-transition:color 0.4s;
	-o-transition:color 0.4s;
	transition:color 0.4s;
}
.reply {
	margin-left:26px;
	font-size:18px;
	font-weight:500;
}
.reply .comment-reply-link {
	background:none;
	padding:0;
	color:#888888;
}
.reply .comment-reply-link:hover, .reply .comment-reply-link:active, .reply .comment-reply-link:focus { color:#3c3c3c !important; }
#respond form .btn { margin-top:7px; }
#respond form .comment_submit { text-align:left; }
.comment-list ul.children { margin:0 0 0 50px; }
@media (min-width: 768px) and (max-width: 979px) {
	.comment-list ul.children { margin:0; }
}
@media (max-width: 767px) {
	.comment-list ul.children { margin:0; }
}
#commentform p.field { margin-bottom:11px; }
#commentform input[type="text"] {
	padding:7px 11px;
	width:370px;
	height:39px;
	color:#888888;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
#commentform input[type="text"]:focus { color:#555; }
#commentform textarea {
	padding:7px 11px;
	min-height:216px;
	height:216px;
	color:#888888;
}
#commentform textarea:focus { color:#555; }
@media (max-width: 767px) {
	#commentform input[type="text"] { width:100%; }
}
#sidebar { padding-top:61px; }
#sidebar .widget { margin:55px 0 0 0; }
#sidebar .widget:first-child { margin-top:0; }
#sidebar .widget h3 {
	margin:0 0 17px 0;
	text-align:center;
}
#sidebar .widget ul { margin:0; }
#sidebar .widget ul li {
	list-style-type:none;
	font-size:15px;
	font-weight:400;
	text-transform:uppercase;
	margin-top:3px;
}
#sidebar .widget ul li:before {
	content:'\f0a9';
	font-family:FontAwesome;
	color:#3c3c3c;
	padding:0 10px 0 0;
}
#sidebar .widget ul li:first-child { margin-top:0; }
#sidebar .widget ul ul { margin:3px 0 0 23px; }
#wp-calendar td#today {
	color:#31c1e4;
	font-weight:500;
}
#wp-calendar caption {
	color:#31c1e4;
	font-weight:500;
}
#wp-calendar thead th {
	color:#31c1e4;
	font-weight:500;
}
.comments-custom li {
	margin:0 !important;
	text-transform:none !important;
}
.comments-custom li:before { display:none; }
.comments-custom_txt a:hover { text-decoration:none; }
.social_li {
	text-transform:none !important;
	margin-top:0 !important;
}
.social_li:before { display:none; }
.social_link:hover {
	filter:none !important;
	opacity:1;
	filter:alpha(opacity=100);
}
.banners { margin:55px 0 0 0; }
.banners:first-child { margin-top:0; }
.post-list li { text-transform:none !important; }
.post-list li:before { display:none; }
.flickr_li { margin-top:0 !important; }
.flickr_li:before { display:none; }
.flickr_li .thumbnail:hover, .flickr_li .thumbnail:active, .flickr_li .thumbnail:focus {
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
}
.posts-grid { padding-top:8px; }
@media (min-width: 481px) and (max-width: 767px) {
	.posts-grid li { overflow:hidden; }
}
.posts-grid li .featured-thumbnail { margin:0 0 25px 0; }
@media (min-width: 481px) and (max-width: 767px) {
	.posts-grid li .featured-thumbnail {
		margin-right:20px;
		width:150px;
	}
}
@media (min-width: 481px) and (max-width: 767px) {
	.posts-grid .clear { clear:none; }
}
.testimonials { margin:0 0 0 -20px; }
@media (min-width: 1200px) {
	.testimonials { margin:0 0 0 -30px; }
}
@media (max-width: 767px) {
	.testimonials { margin:0; }
}
.testimonials .testi-item {
	padding:0;
	margin:0 0 20px 20px;
	width:300px;
	float:left;
}
@media (min-width: 1200px) {
	.testimonials .testi-item {
		margin-left:30px;
		width:370px;
	}
}
@media (min-width: 768px) and (max-width: 979px) {
	.testimonials .testi-item { width:228px; }
}
@media (max-width: 767px) {
	.testimonials .testi-item {
		width:auto;
		margin-left:0;
	}
}
.testimonials .testi-item blockquote {
	padding:38px 32px 24px 28px;
	background:#31c1e4;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
}
@media (min-width: 768px) and (max-width: 979px) {
	.testimonials .testi-item blockquote { padding:20px; }
}
.testimonials .testi-item blockquote:before {
	content:'\f10d';
	font-size:34px;
	font-family:FontAwesome;
	color:#fff;
	width:auto;
	height:auto;
	position:relative;
	bottom:auto;
	left:0;
	top:-7px;
	border:none;
	display:inline-block;
	vertical-align:top;
	padding:0 18px 0 0;
}
.testimonials .testi-item blockquote:after {
	top:auto;
	bottom:-16px;
	left:28px;
	background:none;
	width:0;
	height:0;
	border-style:solid;
	border-width:16px 16px 0 0;
	border-color:#31c0e4 transparent transparent transparent;
}
.testimonials .testi-item blockquote > a { color:#fff; }
.testimonials .testi-item blockquote > a:hover {
	color:#3c3c3c;
	text-shadow:0 0 0 #3c3c3c;
}
.testimonials .testi-item .testi-meta {
	font-size:15px;
	font-weight:400;
	text-transform:uppercase;
	padding:28px 0 0 28px;
	color:#3c3c3c;
}
.testimonials .testi-item .testi-meta .user { display:block; }
.testimonials .testi-item .testi-meta .user:after { content:''; }
.service-box {
	padding:21px 0 0 0;
	margin:0 0 -2px 0;
	background-color:transparent;
	border:none;
	-webkit-border-radius:0px;
	-moz-border-radius:0px;
	border-radius:0px;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
}
@media (max-width: 767px) {
	.service-box { text-align:center; }
}
.service-box .icon {
	width:103px;
	height:103px;
	line-height:103px;
	text-align:center;
	margin:6px 22px 10px 0;
	background-color:#31c1e4;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	border-radius:50%;
}
@media (min-width: 768px) and (max-width: 979px) {
	.service-box .icon {
		float:none;
		display:inline-block;
		vertical-align:top;
		margin-right:0;
	}
}
@media (max-width: 767px) {
	.service-box .icon {
		float:none;
		margin:0 auto 10px;
	}
}
.service-box .icon a {
	width:inherit;
	height:inherit;
	display:block;
	-webkit-transition:0.4s;
	-moz-transition:0.4s;
	-o-transition:0.4s;
	transition:0.4s;
	-webkit-border-radius:inherit;
	-moz-border-radius:inherit;
	border-radius:inherit;
}
.service-box .icon a:hover, .service-box .icon a:active, .service-box .icon a:focus { background-color:#3c3c3c; }
.service-box h2 {
	font-size:25px;
	line-height:1.2em;
	overflow:visible;
	margin:0 0 11px 0;
}
.footer {
	background:none;
	border:none;
	padding:0;
}
.footer > .container {
	width:100%;
	padding-left:0;
	padding-right:0;
}
.footer > .container > .row { margin-left:0; }
.footer > .container > .row > .span12 {
	width:100%;
	margin-left:0;
}
.footer-widgets {
	background-color:#3c3c3c;
	padding:68px 0 81px 0;
}
@media (max-width: 767px) {
	.footer-widgets {
		padding:35px 20px;
		text-align:center;
	}
}
.footer-widgets .widget-title {
	color:#fff;
	margin:0 0 19px 0;
}
@media (max-width: 767px) {
	.footer-widgets .widget-footer { margin-bottom:20px; }
}
.footer-widgets ul { margin:0; }
.footer-widgets ul li {
	list-style-type:none;
	margin-top:10px;
}
.footer-widgets ul li:first-child { margin-top:0; }
.footer-widgets ul li a abbr {
	border-color:#31c1e4;
	-webkit-transition:border-color 0.4s;
	-moz-transition:border-color 0.4s;
	-o-transition:border-color 0.4s;
	transition:border-color 0.4s;
}
.footer-widgets ul li a:hover, .footer-widgets ul li a:active, .footer-widgets ul li a:focus { color:#fff; }
.footer-widgets ul li a:hover abbr, .footer-widgets ul li a:active abbr, .footer-widgets ul li a:focus abbr { border-color:#fff; }
.footer-widgets ul.menu li.current-menu-item a, .footer-widgets ul.menu li.current_page_item a { color:#fff; }
.footer-divider { position:relative; }
.footer-divider:after {
	content:'';
	position:absolute;
	top:0;
	left:-21px;
	width:1px;
	height:100%;
	background-color:#505050;
}
@media (min-width: 1200px) {
	.footer-divider:after { left:-31px; }
}
@media (max-width: 767px) {
	.footer-divider:after { display:none; }
}
.footer-divider__right:after {
	right:0;
	left:auto;
}
.social-nets-wrapper { padding-top:22px; }
.social-nets-wrapper .social li {
	float:left;
	margin:0 0 0 5px;
}
@media (max-width: 767px) {
	.social-nets-wrapper .social li {
		float:none;
		display:inline-block;
		margin:0 2.5px;
	}
}
.social-nets-wrapper .social li:first-child { margin-left:0; }
.social-nets-wrapper .social li a {
	font-size:15px;
	color:#999999;
	text-align:center;
	width:38px;
	height:38px;
	line-height:38px;
	display:block;
	background-color:#505050;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	border-radius:50%;
	-webkit-transition:0.4s;
	-moz-transition:0.4s;
	-o-transition:0.4s;
	transition:0.4s;
}
.social-nets-wrapper .social li a:hover, .social-nets-wrapper .social li a:active, .social-nets-wrapper .social li a:focus { background-color:#31c1e4; }
nav.footer-nav { margin-bottom:0; }
@media (min-width: 768px) and (max-width: 979px) {
	nav.footer-nav ul { float:right; }
}
nav.footer-nav ul li a { vertical-align:top; }
nav.footer-nav ul li a:hover, nav.footer-nav ul li a:active, nav.footer-nav ul li a:focus { color:#fff; }
nav.footer-nav ul li.current-menu-item a {
	text-decoration:none;
	color:#fff;
}
.copyright { padding:9px 0 8px 0; }
.footer-text {
	font-size:11px;
	color:#999999;
}
.footer-text a { color:inherit; }
.footer-text a:hover, .footer-text a:active, .footer-text a:focus { color:#fff; }
.dropcap {
	margin:7px 20px 10px 0;
	width:60px;
	height:60px;
	border:1px solid #31c1e4;
	background:none;
	color:#31c1e4;
	font-weight:400;
	font-size:24px;
	line-height:60px;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	border-radius:50%;
}
@media (min-width: 768px) and (max-width: 979px) {
	.dropcap {
		float:none;
		margin:0 auto 10px;
	}
}
@media (max-width: 767px) {
	.dropcap {
		float:none;
		margin:0 auto 10px;
	}
}
.dropcap__extra {
	border:none;
	width:auto;
	height:auto;
	font-size:36px;
	font-weight:500;
	line-height:1em;
	color:#888888;
	margin-top:0;
	-webkit-border-radius:inherit;
	-moz-border-radius:inherit;
	border-radius:inherit;
}
.widget .flexslider {
	background:none;
	text-align:center;
}
.flexslider ul li { text-transform:none !important; }
.flexslider ul li:before { display:none; }
.widget .flex-direction-nav a {
	top:auto !important;
	bottom:-45px !important;
}
.thumbnail, .featured-thumbnail {
	padding:0;
	border:none;
	-webkit-border-radius:0px;
	-moz-border-radius:0px;
	border-radius:0px;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
}
input[type="submit"], input[type="reset"] {
	font-size:15px;
	padding:0 26px;
	height:41px;
}
select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
	padding:7px 11px;
	font-weight:300;
	background-color:#f3f3f3;
	border-color:#eaeaea;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
	-webkit-border-radius:0px;
	-moz-border-radius:0px;
	border-radius:0px;
}
select::-moz-placeholder, textarea::-moz-placeholder, input[type="text"]::-moz-placeholder, input[type="password"]::-moz-placeholder, input[type="datetime"]::-moz-placeholder, input[type="datetime-local"]::-moz-placeholder, input[type="date"]::-moz-placeholder, input[type="month"]::-moz-placeholder, input[type="time"]::-moz-placeholder, input[type="week"]::-moz-placeholder, input[type="number"]::-moz-placeholder, input[type="email"]::-moz-placeholder, input[type="url"]::-moz-placeholder, input[type="search"]::-moz-placeholder, input[type="tel"]::-moz-placeholder, input[type="color"]::-moz-placeholder, .uneditable-input::-moz-placeholder {
	color:#888888;
	opacity:1;
}
select::-ms-input-placeholder, textarea::-ms-input-placeholder, input[type="text"]::-ms-input-placeholder, input[type="password"]::-ms-input-placeholder, input[type="datetime"]::-ms-input-placeholder, input[type="datetime-local"]::-ms-input-placeholder, input[type="date"]::-ms-input-placeholder, input[type="month"]::-ms-input-placeholder, input[type="time"]::-ms-input-placeholder, input[type="week"]::-ms-input-placeholder, input[type="number"]::-ms-input-placeholder, input[type="email"]::-ms-input-placeholder, input[type="url"]::-ms-input-placeholder, input[type="search"]::-ms-input-placeholder, input[type="tel"]::-ms-input-placeholder, input[type="color"]::-ms-input-placeholder, .uneditable-input::-ms-input-placeholder { color:#888888; }
select::-webkit-input-placeholder, textarea::-webkit-input-placeholder, input[type="text"]::-webkit-input-placeholder, input[type="password"]::-webkit-input-placeholder, input[type="datetime"]::-webkit-input-placeholder, input[type="datetime-local"]::-webkit-input-placeholder, input[type="date"]::-webkit-input-placeholder, input[type="month"]::-webkit-input-placeholder, input[type="time"]::-webkit-input-placeholder, input[type="week"]::-webkit-input-placeholder, input[type="number"]::-webkit-input-placeholder, input[type="email"]::-webkit-input-placeholder, input[type="url"]::-webkit-input-placeholder, input[type="search"]::-webkit-input-placeholder, input[type="tel"]::-webkit-input-placeholder, input[type="color"]::-webkit-input-placeholder, .uneditable-input::-webkit-input-placeholder { color:#888888; }
select:-moz-placeholder, textarea:-moz-placeholder, input[type="text"]:-moz-placeholder, input[type="password"]:-moz-placeholder, input[type="datetime"]:-moz-placeholder, input[type="datetime-local"]:-moz-placeholder, input[type="date"]:-moz-placeholder, input[type="month"]:-moz-placeholder, input[type="time"]:-moz-placeholder, input[type="week"]:-moz-placeholder, input[type="number"]:-moz-placeholder, input[type="email"]:-moz-placeholder, input[type="url"]:-moz-placeholder, input[type="search"]:-moz-placeholder, input[type="tel"]:-moz-placeholder, input[type="color"]:-moz-placeholder, .uneditable-input:-moz-placeholder { color:#888888; }
select:-ms-input-placeholder, textarea:-ms-input-placeholder, input[type="text"]:-ms-input-placeholder, input[type="password"]:-ms-input-placeholder, input[type="datetime"]:-ms-input-placeholder, input[type="datetime-local"]:-ms-input-placeholder, input[type="date"]:-ms-input-placeholder, input[type="month"]:-ms-input-placeholder, input[type="time"]:-ms-input-placeholder, input[type="week"]:-ms-input-placeholder, input[type="number"]:-ms-input-placeholder, input[type="email"]:-ms-input-placeholder, input[type="url"]:-ms-input-placeholder, input[type="search"]:-ms-input-placeholder, input[type="tel"]:-ms-input-placeholder, input[type="color"]:-ms-input-placeholder, .uneditable-input:-ms-input-placeholder { color:#888888; }
select::-webkit-input-placeholder, textarea::-webkit-input-placeholder, input[type="text"]::-webkit-input-placeholder, input[type="password"]::-webkit-input-placeholder, input[type="datetime"]::-webkit-input-placeholder, input[type="datetime-local"]::-webkit-input-placeholder, input[type="date"]::-webkit-input-placeholder, input[type="month"]::-webkit-input-placeholder, input[type="time"]::-webkit-input-placeholder, input[type="week"]::-webkit-input-placeholder, input[type="number"]::-webkit-input-placeholder, input[type="email"]::-webkit-input-placeholder, input[type="url"]::-webkit-input-placeholder, input[type="search"]::-webkit-input-placeholder, input[type="tel"]::-webkit-input-placeholder, input[type="color"]::-webkit-input-placeholder, .uneditable-input::-webkit-input-placeholder { color:#888888; }
select:focus, textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus {
	background-color:transparent;
	border-color:#31c1e4;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
}
textarea { border-color:#eaeaea !important; }
textarea:focus { border-color:#31c1e4 !important; }
select { padding:0; }
.wpcf7-form p.field input {
	padding:7px 11px;
	height:39px;
	line-height:22px;
}
.wpcf7-form textarea {
	padding:7px 11px;
	line-height:23px;
}
.wpcf7-form .ajax-loader { margin-top:10px; }
.wpcf7-not-valid-tip { padding:7px 0 7px 11px !important; }
@media (min-width: 768px) and (max-width: 979px) {
	.wpcf7-not-valid-tip {
		padding-top:1px !important;
		line-height:18px;
	}
}
@media (max-width: 767px) {
	.google-map-api { height:300px; }
}
.aligncenter { margin:9px auto 0; }
@media (max-width: 767px) {
	.aligncenter { margin-bottom:10px; }
}
.list.styled > ul li {
	text-transform:uppercase;
	font-weight:400;
	font-size:15px;
	margin:17px 0 0 0;
}
.list.styled > ul li:before {
	width:auto;
	height:auto;
	margin:0;
	padding:0 14px 0 0;
	color:#31c1e4;
}
.list.styled > ul li:first-child { margin-top:0; }
.list.styled.arrow-list > ul li:before { content:'\f178'; }
.content_box {
	background-color:#f5f5f5;
	padding:54px 0 61px 0;
	margin:49px 0 61px 0;
}
.content_box:before, .content_box:after { background-color:inherit; }
.content_box > h2 { margin:0 0 41px 0; }
.content_box p { margin-bottom:35px; }
.content_box__style-1 {
	margin:50px 0 0 0;
	padding-bottom:49px;
}
.content_box__style-2 {
	margin:70px 0 62px 0;
	padding-bottom:30px;
}
.content_box__style-3 {
	margin:-35px 0 0 0;
	padding-bottom:30px;
	bottom:-50px;
}
.btn-primary {
	border:none;
	text-shadow:none;
	background:#31c1e4;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	-webkit-transition:0.4s;
	-moz-transition:0.4s;
	-o-transition:0.4s;
	transition:0.4s;
}
.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
	background:#3c3c3c;
	-webkit-transition:0.4s;
	-moz-transition:0.4s;
	-o-transition:0.4s;
	transition:0.4s;
}
.btn-primary.btn-normal {
	font-size:15px;
	padding:9px 27px;
}
.contacts { color:#999999; }
.contacts .widget-title { margin:-2px 0 17px 0; }
.header .contacts .widget-title { display:none; }
.contacts .address {
	margin-bottom:24px;
	display:block;
}
.header .contacts .address {
	float:left;
	margin:0;
}
@media (min-width: 768px) and (max-width: 979px) {
	.header .contacts .address { width:28%; }
}
@media (max-width: 767px) {
	.header .contacts .address {
		width:auto;
		float:none;
	}
}
.contacts .address:before {
	content:'\f041';
	padding-right:7px;
}
@media (max-width: 767px) {
	.contacts .pull-right { float:none; }
}
.footer-widgets .contacts .pull-right { float:none; }
.contacts .pull-right span { display:block; }
.header .contacts .pull-right span {
	float:left;
	margin-left:11px;
}
@media (max-width: 767px) {
	.header .contacts .pull-right span {
		float:none;
		margin:5px 0 0 0;
	}
}
.footer .contacts .pull-right span.phones { margin-bottom:22px; }
.contacts .pull-right span.phone:before {
	content:'\f095';
	padding-right:6px;
}
.footer .contacts .pull-right span.phone { line-height:28px; }
.contacts .pull-right span.hours:before {
	content:'\f017';
	padding-right:6px;
}
.header .contacts .pull-right span.hours { margin:0 0 0 19px; }
@media (max-width: 767px) {
	.header .contacts .pull-right span.hours { margin:5px 0 0 0; }
}
.contacts .address:before, .contacts .phone:before, .contacts .hours:before {
	font-size:19px;
	font-family:FontAwesome;
	color:#31c1e4;
}
#back-top-wrapper { right:20px; }
#back-top a:hover span { background-color:#505050; }
#back-top span {
	background-color:#31c1e4;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
}
.clearfix { *zoom:1; }
.clearfix:before, .clearfix:after {
	display:table;
	content:"";
	line-height:0;
}
.clearfix:after { clear:both; }
.hide-text {
	font:0/0 a;
	color:transparent;
	text-shadow:none;
	background-color:transparent;
	border:0;
}
.input-block-level {
	display:block;
	width:100%;
	min-height:33px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
